.banner {
  background-image: url(/landing/images/sfondo\ banner.jpg);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  display: flex;
  align-items: center;
}

.banner h1 {
  font-size: 30px;
  color: white;
  margin-left: 15px;
}

.banner p {
  font-family: Poppins;
  font-size: 20px;
  color: white; 
  margin-left: 15px;
}

.button {
  font-family: Poppins;
  color: white;
  background-color: #f837db;
  padding: 10px;
  border-radius: 30px;
  border-color: #fcf49f;
  border-style: double;
  transition: background-color 0.2s ease-in-out;
  margin-left: 15px;
}

.button:hover {
  background-color: #860373;
  box-shadow:0 8px 16px 0 rgba(255, 255, 255, 0.6);
}
