@media (max-width: 769px) {
.cards-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
}

.cards-section {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.card {
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230, 230, 230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230, 230, 230);
  margin: 15px;
  align-items: center;
}

.card h3 {
  font-family: Poppins;
  font-size: 14px;
  color: rgb(255, 0, 195);
}

.card p {
  font-family: Poppins;
  font-size: 10px;
}
